<header class="author-header">
    <div class="author-header-content">
        <h1>Podcast</h1>
        <p>{{ content | safe }}</p>
    </div>
    <div class="author-header-image">
        <img src="https://rajitkhanna.com/content/images/2020/12/Mockup.jpg" alt="Book">
    </div>
</header>
