{% macro special_tag(tag) %}

<header class="author-header">
    <div class="author-header-content">
        <h1>{{ tag.name }}</h1>
        <p>{{ content | safe }}</p>
            <div class="author-header-meta">
                <a class="author-header-item" href="https://anchor.fm/rajitk" target="_blank" rel="noopener noreferrer">Anchor</a>
                <a class="author-header-item" href="https://www.youtube.com/channel/UCCSVsoak32LEkry3ZT2tfdg" target="_blank" rel="noopener noreferrer">Yoututbe</a>
                <a class="author-header-item" href="https://twitter.com/rajitshow/" target="_blank" rel="noopener noreferrer">Twitter</a>
                <a class="author-header-item" href="https://www.instagram.com/rajitshow/" target="_blank" rel="noopener noreferrer">Instagram</a>
            </div>
    </div>
    <div class="author-header-image">
        <img src="{{ tag.feature_image }}" alt="{{ tag.name }}">
    </div>
</header>
